:root {
  --gap-size: 0.8rem;
  --radius:0.5rem;

  /* --base00: 213, 20%, 9%; */
  --base00: 240, 21%, 7%;
  /* --base00: 249, 19%, 7%; */
  --base01: 210, 15%, 12%;
  --base02: 220, 15%, 16%;
  --base03: 220, 15%, 18%;
  --base04: 220, 14%, 19%;
  --base05: 230, 43%, 97%;
  /* --base06: 0, 0%, 100%; */
  --base06: 226, 64%, 88%;
  --base07: 240, 1%, 83%;
  --base08: 216, 87%, 57%;
  --base09: 42, 91%, 65%;
  --base0A: 327, 100%, 72%;
  --base0B: 79, 69%, 69%;
  --base0C: 205, 79%, 69%;
  --base0D: 174, 67%, 40%;
  --base0E: 276, 80%, 75%;
  --base0F: 216, 43%, 73%;


  /* --muted_foreground:228 17% 64%; */
  --muted_foreground:230 13% 55%;

  /* --white: 0, 0%, 100%; */
  --white: 226, 64%, 88%;
  --darker_white: 240, 1%, 45%;
  --darker_black: 220, 15%, 2%;
  /* --darker_black: 248, 25%, 6%; */
  /* --black: 220, 15%, 8%; */
  /* --black2: 220, 15%, 11%; */
  --black: 240, 21%, 7%;
  --black2: 248, 18%, 9%;
  /* --black: 249, 19%, 7%; */

  --one_bg1: 220, 15%, 15%;
  --one_bg2: 220, 15%, 18%;
  --one_bg3: 220, 15%, 20%;

  --grey: 244, 10%, 31%;
  --grey_fg: 220, 8%, 30%;
  --grey_fg2: 220, 9%, 31%;
  --light_grey: 220, 10%, 33%;

  --red: 346, 80%, 66%;
  --baby_pink: 348, 89%, 69%;
  --pink: 328, 100%, 71%;
  --catppuccin_flamingo: 350, 62%, 83%;
  --horizon_orange: 14, 88%, 70%;
  --orange: 29, 100%, 71%;
  --yellow: 41, 89%, 69%;
  --pale_yellow_green: 85, 90%, 87%;
  --yellow_green: 79, 69%, 69%;
  --pale_green: 135, 81%, 84%;
  --catppuccin_green: 123, 62%, 82%;
  --dead_green: 128, 61%, 69%;
  --light_green: 140, 74%, 68%;
  --green: 135, 51%, 43%;
  --vibrant_green: 162, 82%, 61%;
  --teal: 178, 65%, 47%;
  --green_cyan: 184, 64%, 43%;
  --cyan: 194, 76%, 43%;
  --pale_blue: 208, 45%, 79%;
  --light_blue: 203, 80%, 70%;
  --blue: 217, 63%, 66%;
  --nord_blue: 222, 61%, 63%;
  --purple: 263, 100%, 79%;
  --dark_purple: 263, 46%, 61%;
  --catppuccin_lavender: 239, 71%, 80%;

  --primary: var(--yellow);
  --secondary: var(--purple);
  --tertiary: var(--yellow);
  --quaternary: var(--catppuccin_green);

  /* font-family: Inter, Avenir, Helvetica, Arial, sans-serif; */
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 400;

  /* color: #0f0f0f; */
  /* background-color: #f6f6f6; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

/* @font-face { */
/*   font-family: SF; */
/*   src:url("../../../Assets/fonts/SF-Mono-Nerd-Font/SFMono\ Regular\ Nerd\ Font\ Complete.otf"); */
/* } */
/* @font-face { */
/*   font-family: cozette; */
/*   src:url("../../Assets/fonts/CozetteVector.ttf"); */
/* } */
/* @font-face { */
/*   font-family: DDBB; */
/*   src:url("../Assets/fonts/disposabledroid-bb.regular.ttf"); */
/* } */
/* @font-face { */
/*   font-family: terminus; */
/*   src:url("../Assets/fonts/Terminus.ttf"); */
/* } */

::-webkit-scrollbar {
  display: none;
}

* {
  box-sizing:border-box;
  border:0 solid hsl(var(--grey));
}

html {
  background-color: hsla(var(--darker_black), 1);
  color: hsla(var(--base06), 1);

  line-height:1.5;
  -moz-tab-size:4;
  -o-tab-size:4;
  tab-size:4;

  font-family: 'Ubuntu' !important;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

input {
  width: 100%;
}

button {
  cursor: pointer;
  width: fit-content;
  height: fit-content;
  white-space: nowrap;
}

button.ghost {
  /* padding: 0; */
  border: 0;
  box-shadow: none;
}

button.ghost:hover {
  background: hsla(var(--grey), 0.5);
}

textarea {
  min-height: 5rem;
}
/* input, textarea { */
/*   line-height: inherit; */
/* } */

input,
button {
  padding: 0.5rem 0.75rem;
}

input,
button,
textarea {
  line-height: inherit;
  border-radius: var(--radius);
  border: 1px solid hsla(var(--grey));
  font-size: inherit;
  font-family: inherit;
  background-color: transparent;
  color: inherit;
  transition:
  border-color 0.5s,
  opacity 0.25s;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  outline: none;
}

input::placeholder {
  color: hsla(var(--muted_foreground));
}
textarea::placeholder {
  color: hsla(var(--muted_foreground));
}
input:hover,
button:hover {
  border-color: hsla(var(--base06));
  border-color: hsla(var(--purple));
}
input:active,
button:active {
  opacity: 0.5;
}
input:focus-visible,
button:focus-visible {
  border-color: hsla(var(--yellow), 1);
}

button.link:hover {
  text-decoration-line: underline;
}

button[type="submit"] {
  color: hsla(var(--black));
  background-color: hsla(var(--base06));
}
button[type="submit"]:hover {
  background-color: hsla(var(--base06), 0.9);
}

h1, h2, h3, h4, h5, h6, hr, p, pre {
  margin:0
}

.container {
  margin: 0;
  padding-top: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}












@media (prefers-color-scheme: dark) {
  /* :root { */
  /*   color: #f6f6f6; */
  /*   background-color: #2f2f2f; */
/* } */
  /**/
  /* a:hover { */
  /*   color: #24c8db; */
/* } */
  /**/
  /* input, */
  /* button { */
  /*   color: #ffffff; */
  /*   background-color: #0f0f0f98; */
/* } */
  /* button:active { */
  /*   background-color: #0f0f0f69; */
/* } */
}
